body{
    background-image: url("/public/img/Wallpaper.jpg");
    background-size: 145%;
    background-position: center -250px;
    background-repeat: no-repeat;
}


#flecha{
    text-decoration: none;
    color: #673eb8;
    font-size: 32px;
    margin-left: 5px;
}

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-group-item{
    text-align: center;
}

.descripcion, .cantidad{
    font-weight: bold;
    font-size: 20px;
}

.cantidad{
    color: #673eb8;
    font-size: 35px;
}

.table-responsive{
    width: 53.5%;
    margin: auto;
}


.chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.chart-container div{
    display: flex;
    justify-content: center;
}

.button-container button{
    margin: 0 10px;
    padding: 6px 13px;
    border: none;
    border-radius: 5px;
    background-color: #673eb8;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#line_chart_div{
    width: 100%;
    height: 400px;
}

h1 {
    text-align: center;
}