footer {
    margin-top: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

.container-names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.name {
    text-align: center;
    margin: 0;
    font-size: 30px;
}