html, body {
    font-family: "Lilita One", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/public/img/Wallpaper.jpg");
    background-size: cover;
    background-position: center -250px;
    background-repeat: repeat;
}

thead{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    font-size: 18px;
    border: 1px solid #333;
}

td{
    text-align: center;
    padding: 5px;
    font-size: 22px;
    border: 1px solid #333;
    border-top: 0;
}

a{
    text-decoration: none;
    color: #673eb8;
    font-size: 36px;
    margin-left: 5px;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones button{
    margin: 10px 0;
}

.table-responsive{
    background: #ececec;
}
