*{
    margin: 0;
}

body{
    background-color: #ece9e9;
    font-family: "Lilita One", sans-serif;
    margin: 0;
    padding: 0;
    color: #444444;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile-info img{
    width: 200px;
    height: 200px;
    border: 1px solid #f366ba;
    border-radius: 50%;
}

.profile-info h1{
    font-size: 70px;
}

.profile-info p{
    font-size: 30px;
}

.profile-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #cb6ce6;
    color: #762e91;
    border-radius: 30px;
    padding: 25px;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #cb6ce6;
    color: #762e91;
    border-radius: 30px;
    padding: 25px;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.divider {
    height: 80%;
    min-height: 90px;
    width: 2px;
    background-color: #762e91;
}

.card-info i{
    font-size: 40px;
}

.info-amount{
    color: #e1e3ff;
    font-size: 35px;
}

.qr-map{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.qr{
    width: 300px;
}


