* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#flecha{
    text-decoration: none;
    color: #673eb8;
    font-size: 32px;
    margin-left: 5px;
}

body {
    font-family: "Lilita One", sans-serif;
    color: #545454;
    letter-spacing: 1px;
    background-image: url("/public/img/Wallpaper.jpg");
    background-size: 125%;
    background-position: center -250px;
    background-repeat: no-repeat;
}

.container {
    max-width: 1500px;
    margin: 20px auto 400px auto;
    padding: 10px;
}

.ranking {
    background-color: #ffd700;
    padding: 20px;
    border-radius: 10px;
}

.ranking h3 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: white;
}

th, td {
    background-color: white;
    padding: 10px;
    text-align: center;
    border:2px solid #762e91;
}
/*.btn-volver {*/
/*    display: block;*/
/*    align-items: center;*/
/*    padding: 15px 100px;*/
/*    border-radius: 30px;*/
/*    border: none;*/
/*    color: white;*/
/*    letter-spacing: 1px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s, transform 0.3s;*/
/*    box-shadow: 4px 4px 0 #5300f7;*/
/*    background-color: #8c52ff;*/
/*    width: 300px;*/
/*    margin: 20px auto 0 auto;*/
/*    text-align: center;*/
/*}*/

/*.btn-volver:hover {*/
/*    background-color: #673eb8;*/
/*    transform: translateY(2px);*/
/*}*/
