body {
    background-color: #e1e3ff;
    font-family: "Lilita One", sans-serif;
    margin: 0;
    padding: 0;
    color: #444444;
}

.body-title{
    text-align: center;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 60px 20px 20px 20px;
    max-width: 100%;
}

.field-container{
    display: flex;
    flex-direction: row;
}

.input-container{
    width: 80%;
}

.register-form label {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.register-form select {
    border-radius: 6px;
    width: 85%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
}

.register-form input {
    border-radius: 6px;
    width: 85%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-size: 16px;
}

.button {
    padding: 15px 100px;
    width: 300px;
    border-radius: 30px;
    border: none;
    color: #444444;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 4px 4px 0 #5300f7;
    background-color: #8c52ff;
}

.btn-register:hover {
    background-color: #673eb8;
    transform: translateY(2px);
}

a {
    text-decoration: none;
    color: inherit;
}