<a href="/editor/showReports">Volver</a>

<div class="edit-container">
    <form action="/editor/guardarCambios" class="form-edit" method="post">
        {{#preguntas}}
            <label for="pregunta"><strong>Pregunta:</strong></label>
            <input type="text" name="pregunta" id="pregunta" class="input-bar" value="{{pregunta}}">

            <div class="categoria-div">
                <label for="pregunta"><strong>Categoria:</strong></label>
                <select class="input-bar" id="estados" name="categoria_id">
                    <option value="1">HISTORIA</option>
                    <option value="2">MATEMÁTICAS</option>
                    <option value="3">ENTRETENIMIENTO</option>
                    <option value="4">CIENCIAS</option>
                    <option value="5">ARTE</option>
                    <option value="6">DEPORTE</option>
                </select>
            </div>

            <div class="estado-div">
                <label for="pregunta"><strong>Estado:</strong></label>
                <select class="input-bar" id="estados" name="estado">
                    <option value="ACTIVA">ACTIVA</option>
                    <option value="DESACTIVADA">DESACTIVADA</option>
                    <option value="RECHAZADA">RECHAZADA</option>
                    <option value="APROBADA">APROBADA</option>
                </select>
            </div>

            <div class="opcion-div">
                <p><strong>Opciones:</strong></p>
                {{#opciones}}
                    <label for="opciones"></label>
                    <input type="text" name="opcion" id="opcion" class="input-bar" value="{{opcion}}">

                    <select class="input-bar" id="correcta" name="opcion_correcta">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                {{/opciones}}
            </div>

            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn-save">Guardar Cambios</button>
        {{/preguntas}}
    </form>
</div>
