<a href="/editor/showReports">Volver</a>

<div class="edit-container">
    <form action="/editor/guardarCambios" class="form-edit" method="post">
        {{#preguntas}}
            <label for="pregunta"><strong>Pregunta:</strong></label>
            <input type="text" name="pregunta" id="pregunta" class="input-bar" value="{{pregunta}}">

            <h4>Opciones</h4>
            {{#opciones}}
                <label for="opciones"><strong>{{opcion}}</strong></label>
                <input type="text" name="opcion" id="opcion" class="input-bar" value="{{opcion}}">

                  <select class="input-bar" id="correcta">
                    <option name="correcta" value="SI">SI</option>
                    <option name="correcta" value="NO">NO</option>
                  </select>
           {{/opciones}}


            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn-save">Guardar Cambios</button>
        {{/preguntas}}
    </form>
</div>
