<footer>
    <div class="container-names">
        <p class="name">Martín Mutuverría</p>
        <p class="name">Ailín Macarena Vara</p>
        <p class="name">Pedro Leonel Ricartes</p>
        <p class="name">Mateo Colace</p>
    </div>
</footer>
</body>
</html>

