<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/73d4e66af6.js" crossorigin="anonymous"></script>
    <link href="/public/css/header.css" rel="stylesheet">
    <link href="/public/css/footer.css" rel="stylesheet">
    <link href={{css}} rel="stylesheet">
    <title>Preguntillo</title>
</head>
<body>

<header>
    <div class="header-content">
        <img src="/public/img/logo.png" class="logo" alt="logo">
        <h1 class="header-title">Preguntillo</h1>
    </div>
</header>