{{#user}}
<main class="container">
    <section class="user-info">
        <img src="/public/img/{{foto}}" alt="Avatar del usuario" class="avatar">
        <div class="info">
            <a href="/usuario/profile/username={{usuario}}" class="usuario-link">{{usuario}}</a>
            <p>Nombre: {{nombre}}</p>
            <a href="?page=juego&action=verRanking" class="ranking-link">Ver ranking</a>
        </div>
    </section>
{{#admin}}
    <section class="actions">
        <a href="/admin/showStadistics">Ver<button class="btn"> estadísticas</button></a>
        <a href="/admin/showGraphs?fecha=7"><button class="btn">Ver gráficos</button></a>
    </section>
    </main>
{{/admin}}
{{#editor}}
    <section class="actions">
        <a href="/editor/verPreguntasReportadas"><button class="btn">Ver preguntas reportadas</button></a>
        <a href="/editor/verPreguntasSugeridas"><button class="btn">Ver preguntas sugeridas</button></a>
        <a href="/editor/crearPreguntas"><button class="btn">Crear preguntas</button></a>
        <a href="/editor/verPreguntasActivas"><button class="btn">Editar preguntas</button></a>
    </section>
    </main>
{{/editor}}
{{#jugador}}
    <section class="actions">
        <button class="btn"><a href="?page=juego&action=crear">Nueva partida</a></button>
        <button class="btn"><a href="?page=sugerirPregunta&action=sugerir">Crear pregunta</a></button>
    </section>

    <section class="game-history">
        <h3>Últimas partidas</h3>

        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Puntaje</th>
            </tr>
            </thead>
            <tbody>
            {{#partidas}}
                <tr>
                    <td>{{fecha}}</td>
                    <td>{{hora}}</td>
                    <td>{{puntaje}}</td>
                </tr>
            {{/partidas}}
            </tbody>
        </table>

        {{^partidas}}
            <p>No tienes partidas registradas aún.</p>
        {{/partidas}}
    </section>
    </main>
{{/jugador}}
{{/user}}