{{#user}}
    <h1>Bienvenido <a href="/usuario/profile/username={{usuario}}">{{nombre}}</a></h1>
        <div class="card card-body mb-3">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1 ms-3">
                    <p>Nombre: {{usuario}}</p>
                    <p>Mail: {{mail}}</p>
                    <p>Admin: {{admin}}</p>
                </div>
                <div class="flex-grow-1  d-flex flex-column align-items-center justify-content-center mb-3">

                    <div class="mb-3">
                        {{#admin}}
                            <a href="/admin/showStadistics" class="btn btn-dark">Panel Administrativo</a>
                        {{/admin}}
                        <a href="?page=juego&action=verRanking" class="btn btn-secondary">Ranking</a>
                        <a href="/partida" class="btn btn-info">Partidas</a>
                        {{^admin}}
                            <a href="?page=juego&action=crear" class="btn btn-success">Jugar partida</a>
                            <a href="/pregunta/sugerir" class="btn btn-warning">Sugerir una pregunta</a>
                        {{/admin}}
                    </div>

                </div>
            </div>
        </div>
{{/user}}
