<!DOCTYPE html>
<html>

<head>
    <title>¡Perdiste el juego!</title>
</head>
<body>
<div class="d-flex align-items-center justify-content-around my-5">
    <h1>¡Perdiste el juego!</h1>
</div>
{{#error}}
    <div class="alert alert-danger" role="alert">{{.}}</div>
{{/error}}
<div class="d-flex align-items-center justify-content-around mb-3">
    <p>Lo siento, no lograste ganar el juego esta vez. ¡Mejor suerte la próxima!</p>
</div>
<div class="d-flex align-items-center justify-content-around mb-3">
    {{#userSession.isAdmin}}
        <a href="/admin" class="btn btn-success">Panel Administrativo</a>
    {{/userSession.isAdmin}}
    <a href="/juego/crear" class="btn btn-outline-danger">Nuevo Juego</a>
</div>
<div class="d-flex align-items-center justify-content-around mb-3">
    <a href="/home/list" class="btn btn-danger">Ir al Lobby</a>
</div>
</body>

</html>
<script>
    formElement.addEventListener("submit", function (event) {
        event.preventDefault();
        localStorage.removeItem("tiempoRestante");
    })
</script>