<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Juego</title>
</head>
<body>
<p>Juego</p>
{{#user}}
    <p>{{user}}</p>
{{/user}}

{{#modulos}}
    <a href="/pregunta/modulo?name='{{modulo}}'" class="btn btn-info">{{modulo}}</a>
{{/modulos}}
{{#data}}


{{/data}}
</body>
</html>