<main>
    <a href="/usuario/home"><i class="fa-solid fa-arrow-left"></i></a>
<div class="container">
        <h2 class="text-center mb-4">Lista de preguntas</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            {{#reportes}}
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Cantidad de reportes</th>
                <th>Acciones</th>
            </tr>
            {{/reportes}}
            {{^reportes}}
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Categoría</th>
                <th>Opciones</th>
                <th>Acciones</th>
            </tr>
            {{/reportes}}
            </thead>
            <tbody>
            {{#preguntasReportadas}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{pregunta}}</td>
                    <td>{{cant_reportes}}</td>
                    <td>
                            <button class="btn btn-danger" id="{{id}}" onclick="deshabilitarPregunta({{id}})">
                                Deshabilitar
                            </button>
                    </td>
                </tr>
                </tbody>
            {{/preguntasReportadas}}
            {{#preguntasSugeridas}}
                <tr>
                <td>{{id}}</td>
                <td>{{pregunta}}</td>
                <td>{{categoria}}</td>
                <td>
                    <ul>
                    {{#opciones}}
                        <li>{{.}}</li>
                    {{/opciones}}
                    </ul>
                </td>
                <td>
                    <button class="btn btn-success" id="aceptar-{{id}}" onclick="aceptarPregunta({{id}})">
                        Aceptar
                    </button>
                    <button class="btn btn-danger" id="rechazar-{{id}}" onclick="rechazarPregunta({{id}})">
                        Rechazar
                    </button>
                </td>
                </tr>
                </tbody>
            {{/preguntasSugeridas}}
            {{#preguntasEditables}}
            <tr>
                <td>{{id}}</td>
                <td>{{pregunta}}</td>
                <td>{{categoria}}</td>
                <td>
                    <ul>
                        {{#opciones}}
                            <li>{{.}}</li>
                        {{/opciones}}
                    </ul>
                </td>
                <td>
                    <div class="botones">
                    <a class="btn btn-primary" id="editar-{{id}}" href="/editor/editarPreguntaForm?id={{id}}">
                        Editar
                    </a>
                    {{#estado}}
                    <button class="btn btn-danger" id="{{id}}" onclick="deshabilitarPregunta({{id}})">
                    Deshabilitar
                    </button>
                    {{/estado}}
                    {{^estado}}
                    <button class="btn btn-success" id="{{id}}" onclick="habilitarPregunta({{id}})">
                        Habilitar
                    </button>
                    {{/estado}}
                    </div>
                </td>
            </tr>
            </tbody>
            {{/preguntasEditables}}
        </table>
    </div>
</div>
</main>
<script src="{{js}}"></script>