<h2 class="body-title">Iniciar sesión</h2>

<div class = "container-login-form">
 <form class="login-form" method="post" action="/usuario/login">
     <label for="username">Usuario</label>
     <input class="input-bar" type="text" name="username">
     <label for="pass">Contraseña</label>
     <input class="input-bar" type="password" name="pass">
     <button class="button btn-login" type="submit">Ingresar </button>
 </form>
    <a href="/usuario/registerForm"><button class="button btn-signIn">Registrarse</button></a>
</div>




{{#error}}
    <script>alert('{{error}}');</script>
{{/error}}
{{#success}}
    <script>alert('{{success}}');</script>
{{/success}}