<h2>Iniciar sesión</h2>

<form method="post" action="/usuario/login">
    <label for="username">Usuario</label>
    <input type="text" name="username">
    <label for="pass">Contraseña</label>
    <input type="password" name="pass">
    <input type="submit" value="Ingresar">
</form>

<a href="/usuario/register">Registrarse</a>

{{#error}}
    <script>alert('{{error}}');</script>
{{/error}}
{{#success}}
    <script>alert('{{success}}');</script>
{{/success}}