<main class="container mt-5">
    <section class="row">
        <article class="col-12">
            <h1>Historial de Partidas</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID Partida</th>
                    <th>Puntaje</th>
                </tr>
                </thead>
                <tbody>
                {{#partidas}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{puntaje}}</td>
                    </tr>
                {{/partidas}}
                </tbody>
            </table>
        </article>
    </section>
</main>