<a href="/usuario/home"><i class="fa-solid fa-arrow-left" id="flecha"></i></a>
{{#user}}
    <div class="profile-info">
        <img src="/public/img/{{foto}}" alt="{{name}}">
        <h1>@{{usuario}}</h1>
        <p>{{nombre}}</p>
    </div>

    <div class="profile-card">
        <div class="card-info">
            <i class="fa-solid fa-gamepad"></i>
            <p class="info-amount">Partidas jugadas</p>
            <p class="info-title">{{partidas}}</p>
        </div>
        <div class="divider"></div>
        <div class="card-info">
            <i class="fa-solid fa-trophy"></i>
            <p class="info-amount">Puntaje</p>
            <p class="info-title">{{puntaje}}</p>
        </div>
        <div class="divider"></div>
        <div class="card-info">
            <i class="fa-solid fa-star"></i>
            <p class="info-amount">Nivel</p>
            <p class="info-title">{{nivel}}</p>
        </div>
    </div>

    <div class="qr-map">
        <img class="qr" src="{{qr}}" alt="QR del usuario">
        <img class="map" src="{{mapa}}" alt="Hogar del usuario">
    </div>
{{/user}}