<a href="/usuario/home">Volver</a>
<main class="container">
        <section class="ranking">
            <h3>Ranking de Jugadores</h3>
        <table>
            <thead>
            <tr>
                <th>Posición</th>
                <th>Jugador</th>
                <th>Puntaje</th>
                <th>Nivel</th>
            </tr>
            </thead>
            <tbody>
            {{#ranking}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/usuario/profile/username={{usuario}}">{{usuario}}</a></td>
                    <td>{{puntaje}}</td>
                    <td>{{nivel}}</td>
                </tr>
            {{/ranking}}
            </tbody>
        </table>
        </section>
</main>
