{{#error}}
    <script>alert('{{error}}');</script>
{{/error}}
<h2 class="body-title">Registro de Usuario</h2>

<div class="container-form">

<form class="register-form" action="/usuario/register" method="POST" enctype="multipart/form-data">

    <label for="user">Nombre de usuario:</label><br>
    <input type="text" id="user" name="user" required><br><br>

    <label for="name">Nombre completo:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Correo electrónico:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="pass">Contraseña:</label><br>
    <input type="password" id="pass" name="pass" required><br><br>

    <label for="pass2">Repetir contraseña:</label><br>
    <input type="password" id="pass2" name="pass2" required><br><br>

    <label for="birthyear">Año de nacimiento:</label><br>
    <input type="number" id="birthyear" name="birthyear" min="1900" max="2024" required><br><br>

    <label for="photo">Subir foto:</label><br>
    <input type="file" id="photo" name="photo" accept="image/*" required><br><br>

    <button class="button btn-register" type="submit">Registrarse </button><br><br>
    <a href="/usuario/loginForm">Iniciar sesión</a>
</form>
</div>

