{{#error}}
    <script>alert('{{error}}');</script>
{{/error}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUkdndYG9gSK35o6qXfqaG1w8i5oj1TGA&callback=initMap&libraries=places"
        async defer></script>

<main>
    <div class="wrapper">
        <div class="inner">
            <div class="form-image">
                <img src="../public/img/image-1.png" alt="Imagen derecha">
            </div>

            <form class="register-form" action="/usuario/register" method="POST" enctype="multipart/form-data">
                <h3>Nuevo Usuario</h3>

                <div class="form-container">
                    <div class="form-column">
                        <div class="form-holder">
                            <span class="fas fa-user"></span>
                            <input type="text" id="user" name="user" class="form-control"
                                   placeholder="Nombre de usuario" required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-id-card"></span>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Nombre completo"
                                   required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-envelope"></span>
                            <input type="email" id="email" name="email" class="form-control"
                                   placeholder="Correo electrónico" required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-lock"></span>
                            <input type="password" id="pass" name="pass" class="form-control" placeholder="Contraseña"
                                   required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-lock"></span>
                            <input type="password" id="pass2" name="pass2" class="form-control"
                                   placeholder="Repetir contraseña" required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-calendar-alt"></span>
                            <input type="number" id="birthyear" name="birthyear" class="form-control" min="1900"
                                   max="2024" placeholder="Año de nacimiento" required>
                        </div>

                        <div class="form-holder">
                            <span class="fas fa-solid fa-venus-mars"></span>
                            <select id="gender" name="gender" required>
                                <option value="">Selecciona tu género</option>
                                <option value="Femenino">Mujer</option>
                                <option value="Masculino">Hombre</option>
                                <option value="Prefiero no cargarlo">Prefiero no decirlo</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-column">

                        <div class="form-holder">
                            <span class="fas fa-camera"></span>
                            <input type="file" id="photo" name="photo" class="form-control" accept="image/*" required>
                        </div>

                        <div class="form-holder">
                            <span class="fa-solid fa-earth-americas"></span>
                            <select id="country" name="country" required>
                                <option value="" disabled selected>País</option>
                                <option value="">Cargando países...</option>
                            </select>
                        </div>

                        <span class="fas fa-map-marker-alt"></span>
                        <label class="ubi">Ubicación: </label>

                        <div class="form-holder">
                            <div id="map" style="width: 100%; height: 245px;"></div>
                            <input type="hidden" id="latitude" name="latitude">
                            <input type="hidden" id="longitude" name="longitude">
                        </div>
                    </div>
                </div>

                <button class="registrarse" type="submit">Registrarse</button>

                <div class="links">
                    <a href="/usuario/loginForm">¿Ya tienes una cuenta? Inicia sesión</a>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    let map, marker;

    function initMap() {
        const initialLocation = {lat: -34.6037, lng: -58.3816};

        map = new google.maps.Map(document.getElementById("map"), {
            center: initialLocation,
            zoom: 12,
        });
        map.addListener("click", (event) => {
            placeMarker(event.latLng);
        });
    }

    function placeMarker(location) {
        if (marker) {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }

        document.getElementById("latitude").value = location.lat();
        document.getElementById("longitude").value = location.lng();
    }

    fetch('https://restcountries.com/v3.1/all')
            .then(response => response.json())
            .then(data => {
                const countriesDropdown = document.getElementById('country');
                const sortedData = data.sort((a, b) => {
                    return a.name.common.localeCompare(b.name.common);
                });
                sortedData.forEach(country => {
                    const option = document.createElement('option');
                    option.value = country.cca2;
                    option.textContent = country.name.common;
                    countriesDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar los países:', error));
</script>