<a href="/usuario/home"><i class="fa-solid fa-arrow-left"></i></a>
<h1 class="mb-5">Sugerir pregunta</h1>
<form id="formPregunta" action="/pregunta/sugerir" method="post" enctype="application/x-www-form-urlencoded" class="card card-body">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Categoría:</label>
                    <select class="form-select" name="categoria_id" required>
                        {{#categorias}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/categorias}}
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Pregunta:</label>
                    <textarea name="pregunta" required class="form-control" placeholder="Escribí la nueva pregunta">{{pregunta.pregunta}}</textarea>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label class="form-label">Respuestas (seleccionar la respuesta correcta):</label>
            </div>

                <div class="col-12 col-md-6 mb-4">
                    <div class="option-group">
                        <input type="radio" name="respuesta_correcta" value="opcion1" required>
                        <input type="text" name="opciones[opcion1]" placeholder="Opción 1" required class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4">
                    <div class="option-group">
                        <input type="radio" name="respuesta_correcta" value="opcion2" required>
                        <input type="text" name="opciones[opcion2]" placeholder="Opción 2" required class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4">
                    <div class="option-group">
                        <input type="radio" name="respuesta_correcta" value="opcion3" required>
                        <input type="text" name="opciones[opcion3]" placeholder="Opción 3" required class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4">
                    <div class="option-group">
                        <input type="radio" name="respuesta_correcta" value="opcion4" required>
                        <input type="text" name="opciones[opcion4]" placeholder="Opción 4" required class="form-control">
                    </div>
                </div>
        </div>
    </div>

    <div class="my-3">
        <a class="btn btn-success btn-lg" id="salir" href="/usuario/home">Volver</a>
        <button type="submit" class="btn btn-success btn-lg">
            Sugerir pregunta
        </button>
    </div>
</form>

{{#error}}
    <script>alert('{{error}}');</script>
{{/error}}
{{#exito}}
    <script>alert('{{exito}}');</script>
{{/exito}}

